{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ product.name }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="{% static 'icons/header/cpu-setting-svgrepo-com%201.svg' %}" type="image/svg+xml">
  <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-min.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
      <div class="subheader">
        <div class="subheader__geo">
        <img src="../../static/icons/header/GEO_SVG.svg" alt="geo">
        </div>
        <a href="https://maps.app.goo.gl/CSkY5FSECkhyjHBZ6"><div class="subheader__almaty">г.Алматы, ул.Аль-фараби, 25</div></a>
        <a href="{% url 'about' %}"><div class="subheader__about">О магазине</div></a>
        <a href="{% url 'shipping' %}"><div class="subheader__delivery">Доставка и оплата</div></a>
        <a href="{% url 'sercent' %}"><div class="subheader__service">Сервисный центр</div></a>
      </div>
    </div>
{% block header %}
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <a href="{% url 'index' %}">
            <img src="../../static/icons/header/cpu-setting-svgrepo-com%201.svg" alt="logo" class="header__logo">
            <div class="header__SM">SM comp</div>
          </a>
          <div class="header__search">
            Поиск товаров
            <img src="../../static/icons/header/glass.svg" alt="glass" class="header__glass">
          </div>
          <a href="{% url 'cart:favourites_detail' %}">
            <div class="header__chosen">
              <img src="../../static/icons/header/chosen.svg" alt="chosen" class="header__chosenimg">
              Избранное
            </div>
          </a>
          <a href="{% url 'cart:cart_detail' %}">
            <div class="header__basket">
                <img src="../../static/icons/header/basket.svg" alt="basket" class="header__basketimg">
                Корзина
            </div>
          </a>
          {% if is_user_authenticated %}
              <a href="{% url 'account:profile' %}">
                  <div class="header__cab">
                    <img src="../../static/icons/header/cab.svg" alt="cab" class="header__cabimg">
                    Профиль
                </div>
              </a>
            {% else %}
              <a href="{% url 'account:user-login' %}">
                <div class="header__cab">
                    <img src="../../static/icons/header/cab.svg" alt="cab" class="header__cabimg">
                    Войти
                </div>
              </a>
          {% endif %}
        </div>
        <div class="header__secwrapper">
            <a href="{% url 'product_type' product_type='processors' %}"><div class="header__proc">Процессоры</div></a>
            <a href="{% url 'product_type' product_type='ssd-disks' %}"><div class="header__ssd">SSD диски</div></a>
            <a href="{% url 'product_type' product_type='videocards' %}"><div class="header__videocard">Видеокарты</div></a>
            <a href="{% url 'product_type' product_type='motherboards' %}"><div class="header__mat">Материнкие платы</div></a>
            <a href="{% url 'product_type' product_type='power-supplies' %}"><div class="header__bp">Блоки питания</div></a>
            <a href="{% url 'product_type' product_type='monitors' %}"><div class="header__monitor">Мониторы</div></a>
            <a href="{% url 'product_type' product_type='cases' %}"><div class="header__corp">Корпуса</div></a>
            <a href="{% url 'product_type' product_type='rams' %}"><div class="header__oz">ОЗУ</div></a>
            <a href="{% url 'product_type' product_type='peripherals' %}"><div class="header__per">Периферия</div></a>
        </div>
      </div>
    </header>
{% endblock %}

    {% block content %}
    {% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
          <div class="footer__first">
            <div class="footer__contacts">
              <div class="footer__h1">Контакты</div>
                <a href="https://maps.app.goo.gl/CSkY5FSECkhyjHBZ6"><div class="footer__h2">г.Алматы, ул.Аль-Фараби, 25</div></a>
              <div class="footer__h2"><a href="tel:+ 77777075757">+ 7 ( 777 ) 707-57-57</a></div>
            </div>
            <div class="footer__store">
              <div class="footer__h1">Интернет-магазин</div>
                <a href="{% url 'shipping' %}"><div class="footer__h2">Доставка и оплата</div></a>
                <a href="{% url 'sercent' %}"><div class="footer__h2">Сервисный центр</div></a>
            </div>
            <div class="footer__comp">
              <div class="footer__h1">Компания «CMcomp»</div>
              <a href="{% url 'about' %}"><div class="footer__h2">О нас</div></a>
            </div>
            <div class="footer__support">
              <div class="footer__h1">Помощь и поддержка</div>
              <a id="addresses" style="cursor: pointer"><div class="footer__h2">Адреса и телефоны</div></a>
              <a><div class="footer__h2">Написать нам</div></a>
            </div>
          </div>
          <div class="footer__wrapper">
            <div class="footer__soc">
                <div class="footer__h1">Мы в соцсетях</div>
                <div class="footer__icons">
                    <a href="https://t.me/+77057729473"><img src="{% static 'icons/footer/instagram-2-1-logo-svgrepo-com%201.svg' %}" alt="inst"></a>
                    <a href="https://t.me/+77057729473"><img src="{% static 'icons/footer/telegram-logo-svgrepo-com%201.svg' %}" alt="telegram"></a>
                    <a href="https://wa.me/+77057729473"><img src="{% static 'icons/footer/whatsapp-icon-logo-svgrepo-com%201.svg' %}" alt="whatsapp"></a>
                </div>
            </div>
            <div class="footer__visa">
                <img src="{% static 'icons/footer/visa-svgrepo-com%20(2)%201.svg' %}" alt="visa">
                <img src="{% static 'icons/footer/mastercard-svgrepo-com%201.svg' %}" alt="mastercard">
            </div>
          </div>
        </div>
    </footer>
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% block scriptfile %}
    <script>
        const scrollButton = document.getElementById('addresses');

        scrollButton.addEventListener('click', () => {
            // Scroll to a specific position
            window.location.href = '/about#qwerty'
            // Alternatively, you can use scrollIntoView
            // target.scrollIntoView({ behavior: 'smooth', block: 'start' });
        });
    </script>
{% endblock %}
</body>
</html>