{% extends 'store/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <section class="booking">
    <div class="container">
        <div class="booking__h">Оформление заказа</div>
        <div class="form">
            <div class="form__hh">Заказчик</div>
            <div class="booking__wrap">
                <form id="order-form">
                    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 50px">
                        <div class="booking__del">
                            <div class="del__text">Имя</div>
                            <div class="del__input">
                                {{ form.name }}
                            </div>
                            <div class="del__text">Данные доставки</div>
                            <div class="del__form">
                                <div class="formm__text">
                                    Выберите способ доставки:
                                </div>
                                {% for radio in form.delivery_option %}
                                    <div class="formm__block">
                                        {{ radio.tag }}
                                        {{ radio.choice_label }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="booking__pay">
                            <div class="del__text">Номер телефона</div>
                            <div class="del__input">
                                {{ form.phone_number }}
                            </div>
                            <div class="del__text">Данные оплаты</div>
                            <div class="del__form">
                                <div class="formm__text">
                                    Выберите способ оплаты:
                                </div>
                                {% for radio in form.payment_option %}
                                    <div class="formm__block">
                                        {{ radio.tag }}
                                        {{ radio.choice_label }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {{ form.address }}
                </form>
            </div>
            <div class="book__wrapper">
                <div class="purchase__price">
                    <div class="purchase__text">Общая стоимость: {{ total_price }}</div>
                    <div class="purchase__exodus"></div>
                </div>
                <div class="purchase__button">
                    <button type="submit" id="make-order">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}

{% block scriptfile %}
    <script>
        document.getElementById('make-order').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default form submission
            console.log(1234)
            // Get form data
            const formData = new FormData(document.getElementById('order-form'));

            // Convert form data to JSON object
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });
            data['total_price'] = parseInt({{ total_price }})

            console.log({...data})

            // Send POST request
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:booking' %}',
                data:{
                    ...data,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function(json){
                    console.log(json)
                    location.reload(true)
                },
                error: function (xhr, errmsg, err){
                    console.log(xhr, errmsg, err)
                }
            })
        });
    </script>
{% endblock %}