{% extends 'store/base.html' %}
{% load custom_tags %}
{% block content %}
    <section class="basket">
        <div class="container">
            <h1>Моя корзина</h1>
            {% for cart_item in page_obj %}
                <div class="basket__el">
                    <div class="el__delete">
                        <form method="POST" action="{% url 'cart:cart-remove' cart_item.product.id %}">
                           {% csrf_token %}
                            <button><img src="../../static/icons/basket/basket-commerce-and-shopping-svgrepo-com%202.svg" alt="delete"></button>
                        </form>
                    </div>
                    <a href="{% url 'product' product_id=cart_item.product.id %}">
                    <div class="el__img"><img src="{{ cart_item.product.image.url }}" alt="img" style="width: 175px"></div>
                    <div class="el__descr">
                        <div class="el__name">{{ cart_item.product.name }}</div>
                        <div class="el__arc">Артикул: 000001</div>
                    </div>
                    </a>
                    <div class="el__plus">
                        <form action="{% url 'cart:cart-decrease' cart_item.product.id %}" method="POST">
                            {% csrf_token %}
                            <button class="el_minus">-</button>
                        </form>
                        <div class="el_value">{{ cart_item.quantity }}</div>
                        <form action="{% url 'cart:add-to-cart' cart_item.product.id %}" method="POST">
                            {% csrf_token %}
                            <button>+</button>
                        </form>
                    </div>
                    <div class="el__price">{{ cart_item.product.price|mul:cart_item.quantity }} ₸</div>
                </div>
            {% endfor %}

            

            <div class="basket__purchase">
                <div class="proc__links">

                    {% for page_num in page_range %}
                        {% if page_num == page_obj.number %}
                            <div class="links__pagenmb">{{ page_num }}</div>
                        {% else %}
                            <a href="?page={{ page_num }}">
                                <div class="links__pagenmb">{{ page_num }}</div>
                            </a>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="purchase__price">
                    <div class="purchase__text">Общая стоимость: {{ total_price }}</div>
                    <div class="purchase__exodus"></div>
                </div>
                <div class="purchase__button">
                    <a href="{% url 'cart:booking' %}"><button>Оформить заказ</button></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

