{% extends 'store/base.html' %}
{% load static %}
{% block content %}
        <section class="proc">
            <div class="container">
                <h1>{{ title }}</h1>
                <div class="proc__wrapper">
                    <div class="proc__filter">
                        {% if product_type == 'processors' %}
                        <div class="filter__company">
                            <div class="filter__name">Производители</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=AMD"></a>
                                <div class="filter__text" >AMD</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=Intel"></a>
                                <div class="filter__text">Intel</div>
                            </div>
                        </div>

                        <div class="proc__type">
                            <div class="filter__name">Тип процессора</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?processor_type=Ryzen 3"></a>
                                <div class="filter__text">Ryzen 3</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?processor_type=Ryzen 5"></a>
                                <div class="filter__text">Ryzen 5</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?processor_type=Ryzen 7"></a>
                                <div class="filter__text">Ryzen 7</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?processor_type=Core i3"></a>
                                <div class="filter__text">Core i3</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?processor_type=Core i5"></a>
                                <div class="filter__text">Core i5</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?processor_type=Core i7"></a>
                                <div class="filter__text">Core i7</div>
                            </div>
                        </div>

                        <div class="proc__core" style="height: fit-content">
                            <div class="filter__name">Общее количество ядер</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=2"></a>
                                <div class="filter__text">2</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=4"></a>
                                <div class="filter__text">4</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=6"></a>
                                <div class="filter__text">6</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=7"></a>
                                <div class="filter__text">7</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=8"></a>
                                <div class="filter__text">8</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=10"></a>
                                <div class="filter__text">10</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=12"></a>
                                <div class="filter__text">12</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?core_quantity=14"></a>
                                <div class="filter__text">14</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if product_type == 'ssd-disks' %}
                            <div class="filter__company">
                                <div class="filter__name">Производители</div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?made_by=Samsung"></a>
                                    <div class="filter__text" >Samsung</div>
                                </div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?made_by=Kingston"></a>
                                    <div class="filter__text">Kingston</div>
                                </div>
                            </div>

                            <div class="proc__type" style="height: fit-content">
                                <div class="filter__name">Обьем накопителя</div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?storage_capacity=500GB"></a>
                                    <div class="filter__text">500 ГБ</div>
                                </div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?storage_capacity=1TB"></a>
                                    <div class="filter__text">1 ТБ</div>
                                </div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?storage_capacity=2TB"></a>
                                    <div class="filter__text">2 ТБ</div>
                                </div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?storage_capacity=4TB"></a>
                                    <div class="filter__text">4 ТБ</div>
                                </div>
                            </div>

                            <div class="proc__core" style="height: fit-content">
                                <div class="filter__name">DRAM Буфер</div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?has_dram=1"></a>
                                    <div class="filter__text">Есть</div>
                                </div>
                                <div class="filter__data">
                                    <a class="filter__check" href="?has_dram=0"></a>
                                    <div class="filter__text">Нет</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if product_type == 'videocards' %}
                        <div class="filter__company">
                            <div class="filter__name">Производители</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=Asus"></a>
                                <div class="filter__text" >Asus</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=MSI"></a>
                                <div class="filter__text">MSI</div>
                            </div>
                        </div>

                        <div class="proc__type" style="height: fit-content">
                            <div class="filter__name">Производители графического процессора</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?graphic_processor_made_by=NVIDIA"></a>
                                <div class="filter__text">NVIDIA</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?graphic_processor_made_by=AMD"></a>
                                <div class="filter__text">AMD</div>
                            </div>
                        </div>

                        <div class="proc__core" style="height: fit-content">
                            <div class="filter__name">Графический процессор</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?graphic_processor=RTX 4080 SUPER"></a>
                                <div class="filter__text">RTX 4080 SUPER</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?graphic_processor=RTX 4070"></a>
                                <div class="filter__text">RTX 4070</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?graphic_processor=RTX 4060 TI"></a>
                                <div class="filter__text">RTX 4060 TI</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?graphic_processor=RTX 4060"></a>
                                <div class="filter__text">RTX 4060</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if product_type == 'motherboards' %}
                        <div class="filter__company">
                            <div class="filter__name">Производители</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=Asus"></a>
                                <div class="filter__text" >Asus</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=MSI"></a>
                                <div class="filter__text">MSI</div>
                            </div>
                        </div>

                        <div class="proc__type" style="height: fit-content">
                            <div class="filter__name">Сокет</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?socket=AM4"></a>
                                <div class="filter__text">AM4</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?socket=AM5"></a>
                                <div class="filter__text">AM5</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?socket=LGA1700"></a>
                                <div class="filter__text">LGA1700</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?socket=LGA1200"></a>
                                <div class="filter__text">LGA1200</div>
                            </div>
                        </div>

                        <div class="proc__core" style="height: fit-content">
                            <div class="filter__name">Тип поддерживаемой памяти</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?memory_type=DDR4"></a>
                                <div class="filter__text">DDR4</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?memory_type=DDR5"></a>
                                <div class="filter__text">DDR5</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if product_type == 'power-supplies' %}
                        <div class="filter__company">
                            <div class="filter__name">Производители</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=Asus"></a>
                                <div class="filter__text" >Asus</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?made_by=MSI"></a>
                                <div class="filter__text">MSI</div>
                            </div>
                        </div>

                        <div class="proc__type" style="height: fit-content">
                            <div class="filter__name">Мощность (номинал) (Bt)</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?power-supply_power=1"></a>
                                <div class="filter__text">Менее 500</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?power-supply_power=2"></a>
                                <div class="filter__text">501-1000</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?power-supply_power=3"></a>
                                <div class="filter__text">1001-1500</div>
                            </div>
                        </div>

                        <div class="proc__core" style="height: fit-content">
                            <div class="filter__name">Форм-фактор</div>
                            <div class="filter__data">
                                <a class="filter__check" href="?form-factor=ATX"></a>
                                <div class="filter__text">ATX</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?form-factor=FlexATX"></a>
                                <div class="filter__text">FlexATX</div>
                            </div>
                            <div class="filter__data">
                                <a class="filter__check" href="?form-factor=SFX"></a>
                                <div class="filter__text">SFX</div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="proc__goods">
                        {% for product in page_obj %}
                        <div class="goods__el" style="width: fit-content">
                            <div class="goods__white">
                                <a href="{% url 'product' product_id=product.id %}">
                                    <div class="goods__img"><img src="{{ product.image.url }}" alt="proc" style="width: 175px"></div>
                                    <div class="goods__descr">
                                        <div class="goods__name">{{ product.name}}</div>
                                        <div class="goods__wrapper">
                                            <div class="goods__param">
                                                {% for parameter in parameters.show_names %}
                                                    <div class="param">
                                                        <div class="param__cell">{{ parameter }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="goods__data">
                                                {% for parameter in parameters.db_names %}
                                                    {% for product_value in product.product_values.all %}
                                                        {% if product_value.attribute.name == parameter %}
                                                            <div class="data__data">{{ product_value.value }}</div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="goods__blue">
                                <div class="blue__chosen">
                                    <form action="{% url 'cart:add-to-favourites' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button><img src="../static/icons/proc/Vector_4.svg" alt="like"></button>
                                    </form>
                                </div>
                                <div class="blue__avail">
                                    ✓  В наличии
                                </div>
                                <div class="blue__selfdel">
                                    <img src="../static/icons/proc/purchase-cash-register-svgrepo-com%201.svg" alt="purch" class="blue__img">
                                    <div class="blue__text">Самовывоз: сегодня</div>
                                </div>
                                <div class="blue__del">
                                    <img src="../static/icons/proc/delivery-shipping-and-delivery-svgrepo-com%202.svg" alt="del" class="blue__img">
                                    <div class="blue__text">Доставка: завтра</div>
                                </div>
                                <div class="blue__buy">
                                    <div class="blue__price">{{ product.price }}₸</div>
                                    <div class="blue__buttons">
                                        <button class="blue__oneclick">
                                            <img src="../static/icons/proc/basket-commerce-and-shopping-svgrepo-com%201.svg" alt="one">
                                            <div class="button_text">В один клик</div>
                                        </button>
                                        <form action="{% url 'cart:add-to-cart' product.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="blue__basket">
                                                <img src="../static/icons/proc/cart-commerce-and-shopping-svgrepo-com%201%20(1).svg" alt="cart">
                                                <div class="button__text">В коризну</div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="proc__links">

                            {% for page_num in page_range %}
                                {% if page_num == page_obj.number %}
                                    <span class="current">
                                        <div class="links__pagenmb">{{ page_num }}</div>
                                    </span>
                                {% else %}
                                    <a href="?page={{ page_num }}">
                                        <div class="links__pagenmb">{{ page_num }}</div>
                                    </a>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>           
                </div>
            </div>
        </section>
{% endblock %}