{% extends 'store/base.html' %}
{% block content %}
  <section class="shipping">
    <div class="container">
        <div class="shipping__h1">Доставка и оплата</div>
        <div class="shipping__block">
            <div class="shipping__h2">Доставка по Алмате</div>
            <ul class="shipping__ul">
                <li>Доставка на следующий день действует только в пределах города Алматы</li>
                <li>В целях Вашей безопасности мы обеспечиваем полный контроль за процессом доставки. У нас собственный автопарк, собственный склад и собственный штат курьеров</li>
                <li>Все заказы, стоимостью свыше 30 000 тг. доставляются бесплатно</li>
            </ul>
            <div class="shipping__botom">На все заказы суммой ниже 30 000 тг — стоимость доставки 1 500 тенге.</div>
        </div>
        <div class="shipping__block2">
            <div class="shipping__h2">Доставка по Казахстану</div>
            <ul class="shipping__ul">
                <li>Доставка осуществляется на всей территории Республики Казахстан, по принципу «до двери» курьерской службой</li>
                <li>Сроки доставки курьерской службой зависят от выбранного региона и занимают от 2-ух до 7-ми рабочих дней. Точный срок получения товара сообщит наш менеджер при подтверждении заказа</li>
                <li>Стоимость доставки по Казахстану — 1 500 тенге</li>
                <li>Перед выездом курьер обязательно свяжется с Вами по контактному телефону, чтобы уточнить удобное время получения заказа и детали доставки</li>
            </ul>
        </div>
        <div class="shipping__block3">
            <div class="shipping__h2">Самовывоз</div>
            <ul class="shipping__ul">
                <li>Для получения товара, необходимо предъявить номер заказа и номер телефона</li>
                <li>Выдача заказов может быть произведена в тот же день</li>
                <li>График работы самовывоза совпадает с графиком работы магазинов</li>
                <li>Товар хранится в пункте самовывоза до 3-дней</li>
            </ul>
        </div>
        <div class="shipping__block4">
            <div class="shipping__h2">Оплата</div>
            <ul class="shipping__ul">
                <li>Наличными деньгами в пунктах самовывоза</li>
                <li>Онлайн-оплата банковской картой в момент оформления заказа на сайте</li>
                <li>Банковской картой через терминал оплаты, в пункте самовывоза или курьеру (только в г. Алматы)</li>
            </ul>
        </div>
    </div>
  </section>
{% endblock %}
