{% extends 'store/base.html' %}
{% block content %}
  <section class="reg">
    <div class="container">
        <div class="reg__wrap">
            <div class="reg__h">Личный кабинет</div>
            <div class="reg__main">
                <div class="main__h">Имя</div>
                <form action="">
                    <input type="text">
                </form>
            </div>
            <div class="reg__main">
                <div class="main__h">Логин</div>
                <form action="">
                    <input type="text">
                </form>
            </div>
            <div class="reg__main">
                <div class="main__h">Пароль</div>
                <form action="">
                    <input type="text">
                </form>
            </div>
            <button class="reg__btn">
                Зарегистрироваться
            </button>
        </div>
    </div>
  </section>
{% endblock %}

