{% extends 'store/base.html' %}
{% load static %}
{% block content %}
  <div class="index__carousel">
    <div class="container">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4500">
            <img src="../static/img/carousel/Баннер%20Ryzen%20№2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="4500">
            <img src="../static/img/carousel/Банер%20NVIDIA%20№1%20(1).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="4500">
            <img src="../static/img/carousel/Баннер%20Logitech%20№3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <section class="blocks">
    <div class="container">
      <div class="blocks__popular">
        <div class="blocks__text">Популярные бренды</div>
        <div class="blocks__brands">
          <div class="el">
            <a href="#"><img src="../static/icons/blocks/asus-rog-1-logo-svgrepo-com%201.svg" alt="asus"></a>
          </div>
          <div class="el">
            <a href="#"><img src="../static/icons/blocks/apple-black-logo-svgrepo-com%201.svg" alt="apple"></a>
          </div>
          <div class="el">
            <a href="#"><img src="../static/icons/blocks/Vector%20(1).svg" alt="samsung"></a>
          </div>
          <div class="el">
            <a href="#"><img src="../static/icons/blocks/Vector%20(2).svg" alt="toshiba"></a>
          </div>
          <div class="el">
            <a href="#"><img src="../static/icons/blocks/msi-gaming%201.svg" alt="msi"></a>
          </div>
        </div>
      </div>
      <div class="blocks__new">
        <div class="blocks__text">Новинки</div>
        <div class="blocks__carousel">
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="blocks__hits">
        <div class="blocks__text">Хиты продаж</div>
        <div class="blocks__carousel">
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
          <div class="blocks__el">
            <a href="store/product.html">
              <div class="blocks__img">
                <img src="../static/img/main/image%201.png" alt="ryzen">
              </div>
              <div class="blocks__h1">
                Процессор
              </div>
              <div class="blocks__h2">
                AMD Ryzen 9 7900X3D
              </div>
            </a>
            <div class="blocks__purchase">
              <div class="blocks__price">82 990 ₸</div>
              <button class="blocks__chosen"><img src="../static/icons/carousel/Vector%201.svg" alt="like"></button>
              <button">
                <div class="blocks__basket">
                  <img src="../static/icons/carousel/cart-commerce-and-shopping-svgrepo-com%201.svg" alt="basket">
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="advantages">
    <div class="container">
      <div class="advantages__wrapper">
        <div class="advantages__element">
          <img src="../static/icons/advantages/first-first-place-svgrepo-com%201.svg" alt="1" class="advantages__img">
          <div class="advantages__text">№1 в мире компьютеров</div>
        </div>
        <div class="advantages__element">
          <img src="../static/icons/advantages/24-hours-commerce-and-shopping-svgrepo-com%201.svg" alt="24" class="advantages__img">
          <div class="advantages__text">Работаем <div class="tfs">круглосуточно</div></div>
        </div>
        <div class="advantages__element">
          <img src="../static/icons/advantages/support-svgrepo-com%201.svg" alt="support" class="advantages__img">
          <div class="advantages__text">Быстрая поддержка</div>
        </div>
        <div class="advantages__element">
          <img src="../static/icons/advantages/gift-birthday-and-party-svgrepo-com%201.svg" alt="bonus" class="advantages__img">
          <div class="advantages__text">Бонусы за покупки</div>
        </div>
        <div class="advantages__element">
          <img src="../static/icons/advantages/guarantee-svgrepo-com%201.svg" alt="guarantee" class="advantages__img">
          <div class="advantages__text">Гарантия качества</div>
        </div>
        <div class="advantages__element">
          <img src="../static/icons/advantages/delivery-shipping-and-delivery-svgrepo-com%201.svg" alt="delivery" class="advantages__img">
          <div class="advantages__text">Бесплатная доставка</div>
        </div>
        <div class="advantages__element">
          <img src="../static/icons/advantages/barcode-scan-svgrepo-com%201.svg" alt="original" class="advantages__img">
          <div class="advantages__text">Оригинальная продукция</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}